*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .image-bg{
   position: fixed;
   top: 0;
   width: 100%;
   height: 100vh;
   background: #77b3d4;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: opacity 0.5s ease;
}

.cloud1,.cloud2,.cloud3{
    position: absolute;
    height: 100px;
    right: 0%;
    z-index: -1;
}
.cloud1{
    top: 25%;
    transform: translate(100%,-25%);
    animation: clouds 3s ease infinite;
}
.cloud2{
    top: 50%;
    transform: translate(100%,-25%);
    animation: clouds 4s ease infinite;
}
.cloud3{
    top: 75%;
    transform: translate(100%,-25%);
    animation: clouds 5s ease infinite;
}
.image-bg h2{
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    color: #fff;
    font-size: 30px;
    font-family: sans-serif;
}
.flight-image{
    animation: airplane 2s ease-in-out infinite alternate;
} */
/* .hide{
    opacity: 0;
    pointer-events: none;
} */
/* @keyframes airplane{
     0%{
        transform: translate(0%);
     }
     100%{
        transform: translate(0%,50%);
     }
}
@keyframes clouds{
    from{
        right:0%;
    }
    to{
        right:130%;
    }
} */

/* mediation app */

/* .app{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.time-select,.sound-picker,.player-container{
    height: 80%;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.player-container{
    position: relative;
}
.player-container svg{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    pointer-events: none;
}

video{
   position: fixed;
   top: 0%;
   left: 0%;
   width: 100%;
   z-index: -10;
}
.time-display{
    position: absolute;
    bottom: 10%;
    color: #fff;
    font-size: 40px;
}
.time-select button,.sound-picker button{
    color: #fff;
    width: 30%;
    height: 10%;
    border-radius: 5px;
    border: 1px solid #fff;
    background: none;
    font-size: 20px;
}
.time-select button:hover{
    color: #000;
    background-color: #fff;
}
.sound-picker button{
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;
}
.sound-picker button:nth-child(1){
    background: lightblue;
}
.sound-picker button:nth-child(2){
    background: lightcoral;
}
.sound-picker button img{
    height: 100%;
} */

body{
    background-image: linear-gradient(120deg,#f6d365,#fda085);
    color: #fff;
    min-height: 100vh;
}
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,form button{
    padding: 1rem;
    background:#fff;
    border: none;
    font-size:1rem;
}

form button{
    color: #d88771;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background: #d88771;
    color: #fff;
}
.list-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 20%;
    list-style: none;
}
.todo{
    margin:0.5rem;
    background: #fff;
    color: #000;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;
}
.trash-btn, .complete-btn{
    background: #ff6f47;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}
.complete-btn{
    background:rgb(73,204,73);
}
.todo-item{
    padding: 0 0.5rem;
}
.fa-trash,.fa-check{
    pointer-events: none;
}
.completed{
    opacity: 0.5;
    text-decoration: line-through;
}
.fall{
    transform:translateY(10px) rotateZ(20deg);
    opacity: 0;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color:#ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content:'\25BC';
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}
